[submodule "libft"]
	path = libft
	url = https://github.com/PapyMonkey/42_libft
[submodule "printftester_tripouille"]
	path = printftester_tripouille
	url = https://github.com/Tripouille/printfTester.git
[submodule "printftester_paulosantana"]
	path = printftester_paulosantana
	url = https://github.com/paulo-santana/ft_printf_tester
